<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <title>Bhargav Shukla</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139994937-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-139994937-1');
    </script>

</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container justify-content-center">
            <h1 class="display-4">Bhargav Shukla</h1>
            <p class="lead"><i style="margin-right: 10px;" class="fas fa-map-marker-alt"></i>Gujarat, India</p>
            <hr class="my-4">
            <p>First of my name, developer of the web and mobile, breaker of builds, surfer of Stack Overflow,
                merge-er of PRs, player of Nintendo games, and drinker of coffee/other beverages.</p>
            <hr class="my-4">
            <a href="https://linkedin.com/in/bhargav-shukla" target="_blank" style="margin: 15px;"><i
                    class="fab fa-linkedin-in fa-2x"></i></a>
            <a href="https://github.com/BhargzShukla/" target="_blank" style="margin: 15px;"><i
                    class="fab fa-github fa-2x"></i></a>
            <a href="https://twitter.com/BhargzShukla/" target="_blank" style="margin: 15px;"><i
                    class="fab fa-twitter fa-2x"></i></a>
            <a href="https://www.instagram.com/reallybhargz/" target="_blank" style="margin: 15px;"><i
                    class="fab fa-instagram fa-2x"></i></a>
            <a href="mailto:shukla.bhargav.k@gmail.com" target="_blank" style="margin: 15px;"><i
                    class="far fa-envelope fa-2x"></i></a>
        </div>
    </div>

    <footer class="footer mt-auto py-3 fixed-bottom">
        <div class="container">
            <span class="text-muted justify-content-center">Website created using <a href="http://flask.pocoo.org/"
                    target="_blank">Flask.</a>
                Source available on <a href="https://github.com/BhargzShukla/bshukla.page/"
                    target="_blank">GitHub.</a></span>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"
        integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous">
    </script>
</body>

</html>